<!-- <form method="POST">
    {% csrf_token %} 
    {{form}} 
    <button type="submit">Submit</button>
</form>
{% for todo in tasks %}
<p>{{todo.task}}</p>
<a href="{% url 'updateItem' todo.id %}"><button>Update</button></a>
<a href="{% url 'deleteItem' todo.id %}"><button>Delete</button></a>
{% endfor %} -->

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = 'stylesheet' href = "{% static 'style.css' %}">
</head>
<body>
   <div class = 'parent'>
    <button class = 'child' type = 'login' style="align-items:right; margin:0px;padding:0px";>Login</button>

   </div>
    <div id = 'container'>
        <div align= 'right';>
           
                <p>Hello, {{request.user}}</p>
                
        </div>
        <h1>My ToDo List</h1>
        <div id = 'formContainer'>
            
            <form method="POST">
                {% csrf_token %}
                {{form.task}}
                {{form.description}}
                <button id = 'add' type = 'submit'>add</button>
            </form>
        </div>
        <div id = 'todoItems'>
            {% for todo in tasks %}
                <div class = 'item'>
                    <p><a href="{% url 'taskDetail' todo.id %}">{{ todo.task }}</a></p>
                    <div class="controls">
                    <div class = 'controls'>
                        <a href = "{% url 'updateItem' todo.id %}"><button class = 'edit'>Edit</button></a>
                        <a href="{% url 'deleteItem' todo.id %}">
                            <button class="delete" >Delete</button>
                        </a>
                        <hr>
                    </div>
                </div>
            {% endfor %}            
        </div>
    </div>

</body>
</html>




