{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div id="container">
        <h1>My ToDo List</h1>
        <div id="todoItems">
            {% for task in tasks %}
                <div class="item">
                    <p><a href="{% url 'taskDetail' task.pk %}">{{ task.task }}</a></p>
                    <div class="controls">
                        <a href="{% url 'updateItem' task.pk %}"><button class="edit">Edit</button></a>
                        <a href="{% url 'deleteItem' task.pk %}">
                            <button class="delete">Delete</button>
                        </a>
                        <hr>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
